---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials}


html {
  /* apply a natural box layout model to all elements */
  box-sizing: border-box;
  background-color: $background-color;
  font-size: 15px;

  /* changed these three to change overall font size */
  @include breakpoint($medium) {
    font-size: 15px;
  }

  @include breakpoint($large) {
    font-size: 16px;
	/* this one seems to do everything */
  }

  @include breakpoint($x-large) {
    font-size: 17px;
  }

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

.greedy-nav {
  a {
    padding: 10px 0 6px 0;
  }
}

.hide_more_label {
  color: transparent;
}